{% extends 'cadastro/base.html' %}

{% block titulo %}Contato{% endblock %}

{% block conteudo %}
    <section>
        <p>Fale com a gente</p>
        <h1><i class="fa-solid fa-users" aria-hidden="true"></i> Contato</h1>
        <nav>
            <ul>
                <li><a href="mailto:danielfinotti2@gmail.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i> E-mail: danielfinotti2@gmail.com</a></li>
                <li><a href="tel:+5511999999999"><i class="fa-solid fa-phone" aria-hidden="true"></i> Telefone: +55 21 99485-6055</a></li>
                <li><a href="https://www.linkedin.com/in/daniel-finotti/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                <li><a href="https://github.com/daniel-finotti"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a></li>
                <li><a href="https://twitter.com/daniel_finotti"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i> Twitter</a></li>
            </ul>
        </nav>
        <p>Este é um projeto de exemplo para praticar desenvolvimento com Django.</p>
    </section>
{% endblock %}
