{% extends 'cadastro/base.html' %}

{% block titulo %}Política de privacidade{% endblock %}

{% block conteudo %}
    <section>
        <h1>Política de privacidade</h1>
        <p>Este aplicativo de demonstração armazena os dados informados nos cadastros para permitir sua consulta e manutenção.</p>
        <p>Não informe dados pessoais de terceiros sem autorização. Em um ambiente real, esta política deve explicar detalhadamente como os dados são usados, armazenados e removidos.</p>
    </section>
{% endblock %}
